* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background: rgb(4, 4, 109);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 100%;
}

h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 40px;
	color: aliceblue;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

input {
	background: rgba(192, 186, 186, 0.986);
	border: 2px solid rgb(73, 70, 70);
	border-radius: 15px;
	height: 70px;
	width: 250px;
	padding-left: 20px;
	font-weight: 500;
	font-size: 35px;
	text-align: center;
	line-height: 45px;
	color: aliceblue;
	opacity: 0.6;

}

.input-min {
	margin-right: 60px;

}

button {
	background: rgb(101, 150, 52);
	box-shadow: 0px 15px 35px rgb(101, 150, 55) ;
	border-radius: 15px;
	width: 260px;
	height: 70px;
	color: aliceblue;
	font-weight: 500;
	font-size: 35px;
	margin-top: 50px;
	border: none;
	cursor: pointer;

}

button:hover {
	opacity: 0.8;
}

button:active {
	opacity: 0.6;
}